.LobbyDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.LobbyContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.RoomCodeTitle {
  font-size: 20px;
  margin: 0;
}

.RoomCodeTitleSpace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 24px;
  margin: 0;
}

.RoomCodeSpace {
  margin: 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 56px;
  padding: 1em;
}

.RoomCodeItself {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.PlayerListTitle {
  margin: 22px 0 16px 24px;
}

.PlayerList {
  background-color: #403a55;
  height: 262px;
  border-radius: 20px;
  margin: 0 16px;
  padding: 8px;
}

.BeginButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.CopyWarning {
  opacity: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.LobbyWarning {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.CopyWarningText {
  color: lime;
  font-size: 16px;
}

.LobbyWarningText {
  color: red;
  font-weight: 500;
  margin-left: 4px;
  font-size: 16px;
}

.WaitingMessageDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.WaitingMessage {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}

@media (max-height: 720px) {
  .PlayerListTitle {
    margin: 22px 0 8px 24px;
    font-size: 18px;
  }

  .RoomCodeTitleSpace {
    margin-bottom: 8px;
  }

  .RoomCodeTitle {
    font-size: 18px;
  }

  .PlayerList {
    height: 254px;
  }

  .CopyWarning {
    margin: 0;
  }

  .CopyWarningText {
    margin: 0px 24px 8px 4px;
  }

  .RoomCodeItself {
    font-size: 18px;
  }

  .WaitingMessage {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 0;
  }
}
